<h1>Room List</h1>
<ul>
    {% for room in rooms %}
    {% with students=room.current_students|length %}
    <li>
        <h2>{{ room.name }} - {{ room.moderator.last_name }}</h2>
        <p>Capacity: {{ students }}/{{ room.max_students }}</p>
        <p>{{ room.description }}</p>

        {% if user.student.id in room.current_students %}
        <button disabled>Request</button>
        {% elif students >= room.max_students %}
        <button disabled>Request</button>
        {% elif room.open_room == True %}
        <button type="submit">Request</button>
        {% elif user.student.id in room.allowed_students %}
        <button type="submit">Request</button>
        <small>You have special access to this room.</small>
        {% else %}
        <button disabled>Request</button>
        {% endif %}
    </li>
    {% endwith %}
    {% endfor %}
</ul>
